@import "tailwindcss";

@theme {
    --color-raky-purple: #7A5AE1;
    --color-raky-red: oklch(63.7% 0.237 25.331);
    --color-raky-blue: oklch(68.5% 0.169 237.323);
    --color-raky-green: oklch(69.6% 0.17 162.48);
}

body {
    font-family: "Inter";
}

.slider-raky {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
}

.slider-raky::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 999px;
    background: linear-gradient(to right, var(--color-raky-purple) 0 var(--range-progress, 0%), #d9d9d9 var(--range-progress, 0%) 100%);
}

.slider-raky::-moz-range-track {
    height: 4px;
    border-radius: 999px;
    background: #d9d9d9;
}

.slider-raky::-moz-range-progress {
    height: 4px;
    border-radius: 999px;
    background: var(--color-raky-purple);
}

.slider-raky::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    margin-top: -6px;
    border: 0px solid #ffffff;
    border-radius: 999px;
    background: var(--color-raky-purple);
    box-shadow: 0 0 0 1px rgb(0 0 0 / 0.08);
}

.slider-raky::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    border-radius: 999px;
    background: var(--color-raky-purple);
    box-shadow: 0 0 0 1px rgb(0 0 0 / 0.08);
}
